/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.chatPage {
    background-image: url(./assets/girrafe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}